.card-image-wrapper {
    height: 180px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.exercise-card-image{
    margin: auto;
    height: 100%;
    border-radius: calc(0.25rem - 0px);
    max-width: 100%;
}
.exercise-card-body {
    min-height: 150px;
}
.exercise-header-link{
    color: black;
}
