<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/admin-head-fragment :: admin-head">
<body>
<div id="admin-header"></div>
<div id="admin-main" class="ui grid">
  <div id="admin-side-menu" class="four wide column" th:insert="fragments/admin/admin-side-menu :: admin-side-menu"></div>
  <div id="admin-main-content" class="twelve wide stretched column">
    <p>Это панель администрирования веб приложения. Используй меню слева для выбора нужной функции</p>
  </div>
</div>
<script th:inline="javascript">


    $("#admin-header").load("/admin-parts/admin-header.html")
    function loadMainContent(htmlPageName) {
        $("#admin-main-content").load(`/${htmlPageName}`)
    }

</script>
</body>
</html>